<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BenIg's ToDoL1ST!!</h1>
    <input type="text" id="toDoThis" placeholder="my To Do"></input>
    <input type="button" id="submitThis"></input>
        <div id="list"><div>
        <div id="list2"></div>
    {{{body}}}
    <script>
    var divNumber = 0

    $("#submitThis").click(function(){
      $("#list").append("<div id='added' class='deleteMe'>" + $(toDoThis).val() + "<button class='delDiv'></button></div>")
      divNumber += 1
      // fetch('../routes/addToDo.js').then(function(){
      //   "<div id='added' class='deleteMe'>" + $(toDoThis).val() + "</div><button class='delDiv'></button>"
      // })
      // app.get(toDo, function() {
      //
      // })

      $("#toDoThis").val("")

      $(".deleteMe").each(function(key,elem){
          $(elem).attr('id', 'check_' + key)
        })
      $(".delDiv").each(function(key, elem) {
          $(elem).attr('id', 'checkoff_' + key)
        })
        console.log(divNumber)
        // for (var i=0; i<divNumber; i++) {
        //   $("#checkoff_" + [i]).click(function() {
        //     (alert("heyo"))
        //   })
        // }

      //   for (var i=0; i<divNumber; i++) {
      //     $("#checkoff_" + [i]).click(function() {
      //       for (var j=0; j<divNumber; j++){
      //       console.log("#check_" + [i])
      //       $("div").remove("#check_" + [i -1])
      //       $("div").remove("#checkoff_" + key)
      //       }
      //     })
      //   }
      // })

      for (var i=0; i<divNumber; i++) {
        $("#checkoff_" + [i]).click(function() {
          for (var j=0; j<divNumber; j++){
          console.log("#check_" + [i])
          $("div").remove("#check_" + [i -1])
          $("div").remove("#checkoff_" + key)
          }
        })
      }
    })


    </script>
  </body>
</html>
